html {
  height: 300%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: linear-gradient(to bottom, #1e232c, #1d1f24, #2a2c31);
  background-size: 4000% 4000%;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  list-style: none;

}


.header {
  background-color: #182231;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 85px;
  z-index: 100;
  padding: 10px 10%;
  list-style: none;
}

.nav-links li a {
  font-size: 20px;
}

/* Estilos del logo dentro del encabezado */
.header .logo {
  cursor: pointer;
  /* Cambia el cursor a tipo puntero */
  margin-right: auto;
  /* Empuja el logo a la izquierda */
}

/* Estilos de la imagen del logo */
.header .logo img {
  height: 70px;
  width: auto;
  transition: all 0.3s;
  border-radius: 60px;
}

/* Efecto hover para el logo */
.header .logo img:hover {
  transform: scale(1.2);
}

/* Estilos de los elementos de la lista */
.header .nav-links li {
  display: inline-block;
  padding: 0 20px;
  list-style: none;
  transition: all 0.3s ease 0s;
}

/* Efecto hover para los elementos de la lista y enlaces del menú móvil */
.header .nav-links li:hover,
.header .overlay a:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
  /* Aumenta el tamaño al pasar el mouse */
}

/* Estilos de los enlaces de navegación */
.header .nav-links a {
  font-weight: 700;
  color: #ffffff;
  transition: all 0.3s ease 0s;
  list-style: none;
}

/* Efecto hover para los enlaces de navegación */
.header .nav-links a:hover {
  color: #cef51f;
  list-style: none;

}

/* Estilos del botón de menú y botón de contacto */
.header .btn button,
.header .menu button {
  margin-left: 20px;
  font-weight: 700;
  color: #1b3039;
  padding: 9px 25px;
  background: #eceff1;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;

}

/* Efecto hover para los botones */
.header .btn button:hover,
.header .menu button:hover {
  background-color: #e2f1f8;
  color: #ffbc0e;
  transform: scale(1.1);
}

/* Estilos para dispositivos con pantalla de ancho máximo de 800px */
@media screen and (max-width: 800px) {


  .btn {
    display: none;
    /* Oculta los enlaces de navegación y el botón de contacto */
  }

  .menu {
    display: inherit;
    /* Muestra el botón de menú */
  }

  .nav-links li {
    display: none;
  }
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
  .nav-links li {
    display: none;
    /* Oculta la lista de enlaces en pantallas pequeñas */
  }

  .btn {
    display: none;
    /* Oculta el botón en pantallas pequeñas */
  }
}


/* Media query para pantallas más pequeñas */
@media (max-width: 767px) {
  .nav-links {
    flex-direction: column;
    align-items: center;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .nav-links li:first-child {
    display: none;
    /* Oculta el enlace "Inicio" en pantallas pequeñas */
  }

  .btn {
    display: none;
  }

}

@media (max-width: 768px) {

  .nav-links li:nth-child(2),
  /* Oculta el enlace "Inicio" */
  .nav-links li:nth-child(3) {
    /* Oculta el enlace "Acerca De" */
    display: none;
  }
}

/* Estilos para el menú móvil */
.header .overlay {
  height: 100%;
  /* Altura total de la pantalla */
  width: 0;
  /* Ancho inicial del menú móvil */
  position: fixed;
  /* Posición fija en la pantalla */

  left: 0;
  /* Alinea el menú a la izquierda */
  top: 0;
  /* Alinea el menú a la parte superior */
  background-color: rgba(33, 49, 63, .95);
  /* Color de fondo con transparencia */
  overflow: hidden;
  /* Oculta el contenido que se desborde */
  transition: all 0.3s ease 0s;
  /* Transición suave para la apertura/cierre */
  z-index: 100;
}

/* Estilos del contenido del menú móvil */
.header .overlay .overlay-content {
  display: flex;
  /* Utiliza Flexbox para el diseño */
  height: 100%;
  /* Altura total de la pantalla */
  flex-direction: column;
  /* Organiza los elementos en columna */
  align-items: center;
  /* Centra los elementos horizontalmente */
  justify-content: center;
  /* Centra los elementos verticalmente */
}

/* Estilos de los enlaces dentro del menú móvil */
.header .overlay a {
  padding: 15px;
  /* Espaciado alrededor de los enlaces */
  font-size: 36px;
  /* Tamaño de fuente para los enlaces */
  display: block;
  /* Muestra los enlaces como bloques */
  transition: all 0.3s ease 0s;
  /* Transición suave para efectos hover */
  font-weight: 700;
  /* Peso de la fuente para los enlaces */
  color: #eceff1;
  /* Color de los enlaces */
}

/* Efecto hover y focus para los enlaces dentro del menú móvil */
.header .overlay a:hover,
.header .overlay a:focus {
  color: #ffbc0e;
  /* Cambia el color al pasar el mouse o al enfocar */
}

.header .overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 65px;

}

@media screen and (max-height:450px) {
  .header .overlay a {
    font-size: 20px;
  }

  .header .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Estilos para la lista de enlaces de navegación */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

/* Estilos para los elementos de la lista */
.nav-links li {
  padding: 10px;
}

/* Estilos para los enlaces dentro de la lista */
.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

/* CSS para ocultar el botón de menú en pantallas grandes */
.menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .menu {
    display: block;
  }
}

/* Estilos del botón de menú y botón de contacto */
.header .btn button,
.header .menu button,
.header .btn-primary {
  margin-left: 20px;
  font-weight: 700;
  padding: 9px 25px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.header .btn-primary {
  color: #000000;
  background-color: #04bd7d;
  border-color: #04bd7d;
}

/* Efecto hover para los botones */
.header .btn-primary:hover {
  background-color: #12d490;
  color: #ffffff;
  transform: scale(1.1);
  transition: all 0.3s ease 0s;
}

.slider {

  width: 90%;
  height: 600px;
  margin: 0px;
  position: relative;
  overflow: hidden;
  margin-left: 5%;
  border-radius: 10px;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0 5px 5px rgba(2, 96, 151, 0.356);
  margin-top: 40px;
  transition: transform 0.3s ease-in-out;
}


.slider:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.486);
  transform: scale(1.1);
}

.slider-container {
  display: flex;
  align-items: center;
}

.slider-text {
  margin-left: 20px;
  color: #fff;
}


.slider-inner {
  width: 100%;
  height: 100%;
  display: flex;
  animation: carousel-animation 10s linear infinite;
  /* Agrega una animación de desplazamiento */
}

.slider-item {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  animation: fade 3s ease-in-out infinite;
  /* Agrega una animación de fundido al entrar y salir */
}

@keyframes slider-animation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.list {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  width: max-content;
  transition: 1s;
}


.list img {
  width: 110%;
  max-width: 500vh;
  align-content: center;
  margin-top: -15%;
  align-items: center;
  height: 164%;
  object-fit: cover;
}

.buttons {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;


}

.buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff5;
  color: #fff;
  border: none;
  border: 2px solid #fbfcff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.356);
}

.buttons button:hover {
  transform: translateY(-10px);
  /* Agrega un desplazamiento hacia arriba al pasar el mouse */
  box-shadow: 0 5px 5px rgba(2, 233, 250, 0.486);
  /* Agrega una sombra más profunda al pasar el mouse */
  background-color: rgba(2, 2, 2, 0.333);
}


.dots {
  position: absolute;
  bottom: 10px;
  color: #fff;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;


}


.dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: rgb(255, 254, 254);
  margin: 20px;
  border-radius: 20px;
  border: 1px solid #0ad2f5;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.356);
  transition: 1s;

}

.dots li.active {
  width: 30px;
}

@media screen and (max-width: 768px) {
  .slider {
    height: 100%px;
    width: 100%;


  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Estilos para la lista de enlaces de navegación */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

/* Estilos para los elementos de la lista */
.nav-links li {
  padding: 10px;
}

/* Estilos para los enlaces dentro de la lista */
.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

/* CSS para ocultar el botón de menú en pantallas grandes */
.menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .menu {
    display: block;
  }
}

.parallax {
  /* Ajusta la altura al valor deseado */
  min-height: 500px;

  /* Ruta a tu imagen */
  background-image: url('imag/cat-shop.gif');

  /* Crea el efecto parallax */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.parallax::after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Negro con opacidad del 50% */
  position: relative;
  top: 0;
  left: 0;
}

.parallax-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.parallax-content h1 {
  font-size: 48px;
  /* Ajusta este valor al tamaño que prefieras */
  text-shadow: 2px 2px 4px #435fff;
  color: white;
  text-align: center;
}

.parallax-content p {
  font-size: 24px;
  /* Ajusta este valor al tamaño que prefieras */
  text-shadow: 2px 2px 4px #435fff;
  color: white;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .parallax {
    background-attachment: scroll;
  }

  .parallax-content {
    padding: 20px;
    top: 350px;
  }
}

@media (max-width: 768px) {
  .parallax {
    background-attachment: scroll;
  }

  .parallax-content {
    width: 90%;
    /* Ocupa el 90% del ancho disponible en pantallas pequeñas */
  }

  .parallax-content h1 {
    font-size: 2rem;
    /* Tamaño de fuente más pequeño para pantallas pequeñas */
  }

  .parallax-content p {
    font-size: 1.2rem;
    /* Tamaño de fuente más pequeño para pantallas pequeñas */
  }
}

@media (max-width: 480px) {
  .parallax-content h1 {
    font-size: 1.5rem;
    /* Tamaño de fuente aún más pequeño para pantallas muy pequeñas */
  }

  .parallax-content p {
    font-size: 1rem;
    /* Tamaño de fuente aún más pequeño para pantallas muy pequeñas */
  }
}

footer {
  background-color: #111;
}

.footerContainer {
  width: 100%;
  padding: 70px 30px 20px;
}

.socialIcons {
  display: flex;
  justify-content: center;
}

.socialIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}

.socialIcons a i {
  font-size: 2em;
  color: black;
  opacity: 0.9;
  transition: transform 0.3s ease;
  /* Agrega esta línea para la transición */
}

.socialIcons a:hover {
  background-color: #111;
  transition: 0.5s;
}

.socialIcons a:hover i {
  color: white;
  transform: scale(1.5);
  /* Escala al pasar el cursor */
}

.footerNav {
  margin: 30px 0;
}

.footerNav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.footerNav ul li a {
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;

}

.footerNav ul li a:hover {
  opacity: 1;
}

.footerNav:hover{
  transition: 0.3s ease-in-out; 
  transform: scale(1.1);
}
.footerBottom {
  background-color: #000;
  padding: 20px;
  text-align: center;
}

.footerBottom p {
  color: white;
}

.designer {
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}

@media (max-width: 700px) {
  .footerNav ul {
    flex-direction: column;
  }

  .footerNav ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
  }

  .socialIcons a {
    padding: 8px;
    margin: 4px;
  }
}

@keyframes bounceInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate__bounceInLeft {
  animation: bounceInLeft 0.8s ease forwards;
}


@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.alert.fade {
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
  z-index: 10;
}

.alert.show {
  transform: translateX(0);
  z-index: 10;
}

.alert:not(.show) {
  transform: translateX(100%);
  z-index: 10;
}

/* Estilos del botón de menú y botón de contacto */
.header .btn button,
.header .menu button,
.header .btn-primary {
  margin-left: 20px;
  font-weight: 700;
  padding: 9px 25px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.header .btn-primary {
  color: #000000;
  background-color: #04bd7d;
  border-color: #04bd7d;
}

/* Efecto hover para los botones */
.header .btn-primary:hover {
  background-color: #12d490;
  color: #ffffff;
  transform: scale(1.1);
  transition: all 0.3s ease 0s;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #222;
  /* Fondo gris oscuro */
  color: #bebebe;
  /* Texto claro */
  padding: 20px;
  /* Espaciado interno */

  border-radius: 10px;
  /* Bordes redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  background-position: 0% 100%;

}

.registro-compra {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.img-registro {
  width: 320px;
  height: 320px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 50px;
  flex-grow: 1;
  border: 2px solid rgb(75, 174, 255);
  /* Agregué un borde blanco a la imagen */
}

.datos-registro {
  padding: 1px;
  background-color: #181818;
  flex-grow: 10;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 0 10px #333333;
}

.datos-registro:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  box-shadow: 0 0 10px #ffffff;
}

h2 {
  font-weight: bold;
  font-size: 1.5rem;
  color: #bebebe;
  margin-top: 40px;
}

p {
  font-size: 1.2rem;
  color: #bebebe;
  margin-top: 10px;
}

.container {
  background-color: #222;
  padding: 15px;
}

.container:hover {
  background-color: #2a2c31;
  transform: scale(1.1);
  transition: transform 0.5s ease;
  box-shadow: 0 0 10px #666;
}